<div class="card col-50 col-offset-25">
  <div class="item item-divider">
		API REST Back End NodeJS Express and MongoDB
  </div>
  <div class="item">
		<div class="list">
			<label class="item item-input">
					<label class="input-label">Name</label>
					<input ng-model="newUser.username" type="text" placeholder="Nome">
			</label>
			<label class="item item-input">
					<label class="input-label">Nickname</label>
					<input ng-model="newUser.nickname" type="text" placeholder="Nick">
			</label>			
			<label class="item item-input">
				<span class="input-label"></i> E-mail</span>
						<input type="email" ng-model="newUser.email" placeholder="E-mail">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
						<input type="password" ng-model="newUser.password" placeholder="Senha">
			</label>
		</div>
		<button ng-click="createUser(newUser)" class="button button-royal button-block">Sign Up</button>
	</div>
  <div class="item item-divider">
    <a href="http://renanlopes.com" class="dark">By Renan Lopes</a>
  </div>
</div>

