html, body {
    max-width: 100%;
    background: url("../img/theme-01/background-desktop.jpg") repeat fixed!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden!important;
    box-sizing: border-box;
    flex-wrap: wrap;
}

  .nav-pills{
		background-color: rgba(0,0,0,.65);
		border-radius: 5px;
  }

  .nav-pills li a:focus{
		background-color: rgba(0,0,0,.0);
		outline: none;
  }
	
	.nav-pills li a{
		color: white;
	}

	.search-input{
		background-color: rgba(0,0,0,.6);
		border-radius: 5px;
		padding: 5px 5px 10px 5px;
	}

	.text-white {
		color: white;
	}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(material-icon.woff2) format('woff2');
}

.ox-card-list {
  overflow-y: scroll;
}

.ox-card-list::-webkit-scrollbar-track {
	background-color: rgba(120,120,220, 0.8);
}

.ox-card-list::-webkit-scrollbar {
    width: 7px;
    height: 0px;
}

.ox-card-list::-webkit-scrollbar-thumb {
  background: rgba(80,80,120,.9);
}

.ox-card-list.card-alert::-webkit-scrollbar-track {
background-color: rgba(255,220,80, 0.8);
}

.ox-card-list.card-alert::-webkit-scrollbar-thumb {
  background: rgba(240,200,60, 0.8);
}

.ox-card-list.card-danger::-webkit-scrollbar-track {
background-color: rgba(255,80,80, 0.8)!important;
}

.ox-card-list.card-danger::-webkit-scrollbar-thumb {
  background: rgba(240,60,60, 0.8)!important;
}

.ox-card-list.card-complete::-webkit-scrollbar-track {
	background-color: rgba(120,220,120, 0.8);
}

.ox-card-list.card-complete::-webkit-scrollbar-thumb {
  background: rgba(80,120,80,.9);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.coder-icon {
  min-width: 50px;
  max-width: 70px;
  margin: 4px;
}

@media (max-width: 768px) {
  .fixed-button {
    position: fixed!important;
    bottom: 20px;
    margin-left: 77%!important;
    z-index: 99;
  }

  html, body{
    max-width: 100%;
    background: url("../img/theme-01/background-mobile.png") repeat-y fixed!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .modal-dialog{
    margin: 0px!important;
    padding:0px!important;
    width:100%!important;
    height:100%!important;
  }
  .modal-body{
    padding-left: 0px!important;
  }
  .nav-pills li{
    padding:0px!important;
    margin: 2%!important;
    width: 80px!important;
  }
}